.red{
    color:red;
}

.font1{
    font-size:20px;
}

.cn{
    background-color: #444444;
	text-align: center;
    color: yellow
}

.div1{
    margin-top: 100px;
    margin-bottom: 100px;
}